.tableContainer{
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: row;
}

.bigTable{
    width: 85%;
    margin: 25px;
}

.menuBar{
    width: 100%;
    background: #3f4147;
    height: 45px;
}

.settingsContainer{
    float: right;
    margin-top: 5px;
    margin-right: 5px;

}

#settingsIcon{
    height: 30px;
    width: 30px;
    transition: all 0.25s ease;
}


#settingsIcon:hover{
   transform: rotate(45deg);
}