
body{
    margin:0px !important;
    background: #6f727c;
}

.extensionContainer{
    width: 600px;
    height: 400px;
}


@font-face {
    font-family: oxygen-regular;
    src: url(../resources/fonts/Oxygen-Regular.ttf);
}

*{
    font-family: oxygen-regular;
}

.hidden{
    display: none;
}