@font-face{
    font-family: oxygen_light;
    src: url("../resources/fonts/oxygen/Oxygen-Light.ttf");
}

*{
    box-sizing: border-box;
    margin: 0px;
}

body{
    margin-top: 10px;
    font-family: oxygen_light;
    background-color: #454654;
}



.todayTomorrowTables{
    display: flex;                  /* establish flex container */
    flex-direction: row;            /* default value; can be omitted */
    flex-wrap: nowrap;              /* default value; can be omitted */
    justify-content: space-between; /* switched from default */
}

.bigDay{
    width: 100%;
}

#todayDiv{
    margin-left: 15%;
}

#tomorrowDiv{
    margin-right: 15%;
}

.periodBox{
    font-size: 0.75rem;
    border: 1px black solid;   
    text-align: center;
    width: 300px;
    height: 60px;
    display: flex;                  /* establish flex container */
    flex-direction: row;            /* default value; can be omitted */
    flex-wrap: nowrap;              /* default value; can be omitted */
    justify-content: space-between; /* switched from default */   
    transition: all 0.5S ease-in;
}

.periodBox:hover{
    cursor: pointer;
}

.className{
    width: 65%
}

.numberBox{
    border: 1px black solid;   
    height: 60px;
    width: 50px;
    text-align: center;
    background: #5c5c6a;
}


.todayHeading{
    width: 355px;
    height: 50px;
    border-radius: 3px;
    text-align: center;
    font-size: 1rem;
    background-color: #5c5c6a;
    margin-top: 0px;
    column-span: 2;
}


.spinbtnCont{
    width: 10%;
    margin: auto;
    margin-top: 50px;
}

#spinBtn{
    width: 100px;
    height: 50px;
    border-radius: 5px;
    border: none;
    background: #59C173;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #5D26C1, #a17fe0, #59C173);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #5D26C1, #a17fe0, #59C173); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#spinBtn{
    cursor: pointer;
}
