.settingsOptionContainer{
    margin-left: 15px;
}

#rightArrowContainer{
    position: absolute;
    top: 45%;
    right: 25px;
}

.arrow{
    height: 50px;
    width: 50px;
    transition: all 0.5s ease;
    border-radius: 50%;
}

.arrow:hover{
    cursor: pointer;
    background-color: #3F5EFB;

}

.cardContainer{
    width: 75%;
    height: 275px;
    position: relative;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 0px;
}

.card{
    position: absolute;
    left: 50%;
    
    z-index: 1;

    height: 85%;
    width: 50%;

    margin-left: -25%;
    border-radius: 15px;

    text-align: center;
    background: #009FFF;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ec2F4B, #009FFF);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ec2F4B, #009FFF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.cardIcon{
    height: 50px;
    width: 50px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.cardBtn{
    flex: 1;

    background: #ec008c;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #fc6767, #ec008c);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #fc6767, #ec008c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    margin-top: 10px;

    text-decoration: none;
    text-emphasis: 100;
    font-size: 1rem;
    border: none;
    width: 100px;
    height: 45px;
    border-radius: 5px;
    transition: all 0.25s ease; 
}

#dotsContainer{
    width: 20%;
    margin: auto;
    margin-top: -15px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
}

.dot{
    background-color: rgb(73, 73, 73);
    width: 15px;
    height: 15px;
    border-radius: 100%;
    margin: 0px;
}

.highlightDot{
    background-color: #743ad5;
}

.cardBtn:hover{
    cursor: pointer;
    transform: scale(1.1);
}

.cardHeading{
    margin-top: 5px;
}

.cardExplainer{
    margin-top: 0px;
}

.customBackgroundContainer{
    margin-left: 15px;
}

#bgBtn{
    margin-bottom: 10px;
}

.sourceBtn{
    margin-top: 5px;

}

@keyframes moveDotRight {
    0%{
        transform: translate(0px, 0px);
    }
    100%{
        transform: translate(25px, 0px);
    }
}

@keyframes moveDotLeft {
    0%{
        transform: translate(25px, 0px);
    }
    100%{
        transform: translate(0px, 0px);
    }
}

@keyframes moveLeftOff {
    0%{
        transform: translate(0px, 0px) rotate(0deg);
        transform-origin: top right;
        opacity: 100%;
    }
    100%{
        transform: translate(-200px, 0px) rotate(15deg);
        transform-origin: top right;
        opacity: 0%;
    }
}