.tableContainer{
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: row;
}

.bigTable{
    width: 85%;
    margin: 7px;
}

.flipContainer{
    margin-top: 7px;
    margin-right: 7px;
    width: 100px;
}

#flipBtn{
    background: #4568DC;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #B06AB3, #4568DC);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #B06AB3, #4568DC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border: none;
    width: 100%;
    border-radius: 5px;
    transition: all 0.5s ease;
}

#flipBtn:hover{
    cursor: pointer;
    background: #4db068;
<<<<<<< Updated upstream
=======
    
>>>>>>> Stashed changes
}


@keyframes startSpin {
    0%   {transform: rotate3d(1, 0, 0, 0deg)}
    100% {transform: rotate3d(1, 0, 0, 90deg)}
}

@keyframes endSpin {
    0%   {transform: rotate3d(1, 0, 0, 90deg)}
    100% {transform: rotate3d(1, 0, 0, 0deg)}
}


.dataBubble{
    background-color: #3E4C95;
    width: 55px;
    height: 55px;
    border-radius: 27.5px;
    z-index: 2;
    text-align: center;
    transition: all 0.5s ease;
}

.dataBubble:hover{
    cursor: default;
    opacity: 5%;
}

#weekBubble{
    position: absolute;
    bottom: 5px;
    right: 5px;
}

#periodBubble{
    position: absolute;
    bottom: 5px;
    left: 5px;
}

.bubbleText{
    padding-top: 0px;
    font-size: 0.9rem;
}