@font-face{
    font-family: oxygen_light;
    src: url("../resources/fonts/oxygen/Oxygen-Light.ttf");
}

*{
    box-sizing: border-box;
    margin: 0px;
}

body{
    margin-top: 10px;
    font-family: oxygen_light;
    background-color: #454654;
}



.todayTomorrowTables{
    display: flex;                  /* establish flex container */
    flex-direction: row;            /* default value; can be omitted */
    flex-wrap: nowrap;              /* default value; can be omitted */
    justify-content: space-between; /* switched from default */
}

.bigDay{
    width: 100%;
}

#todayDiv{
    margin-left: 15%;
}

#tomorrowDiv{
    margin-right: 15%;
}

.periodBox{
    font-size: 0.75rem;
    border: 1px black solid;   
    text-align: center;
    width: 300px;
    display: flex;                  /* establish flex container */
    flex-direction: row;            /* default value; can be omitted */
    flex-wrap: nowrap;              /* default value; can be omitted */
    justify-content: space-between; /* switched from default */   
}



.todayHeading{
    width: 300px;
    height: 50px;
    border-radius: 3px;
    text-align: center;
    font-size: 1rem;
    background-color: #5c5c6a;
    margin-top: 0px;
}

