#sentralBtn{
    margin-top: 50px;
}

.stepInnerContainer{
    height: 0px;
    overflow: hidden;
    transition: 0.5s ease;
    background: #25262c;
}

.stepInnerContainer *{
    margin-left: 10px;
    padding-bottom: 5px;
}

.stepsContainer:hover{
    cursor: pointer;
}

#s1Outer:hover #s1Inner{
    height: 150px;
    overflow: hidden;
}

#s2Outer:hover #s2Inner{
    height: 150px;
    overflow: hidden;
}

#s3Outer:hover #s3Inner{
    height: 150px;
    overflow: hidden;
}

#downloadImg{
    width: 375px;
    height: auto;
}

.btnContainer{
    width: 55%;
    margin: auto;
}

.nextBtn:hover{
    cursor: pointer;
    transform: scale(1.1);
}