.addNoteContainer{
    width: 75%;
    margin: auto;
    margin-top: 25px;

    background: #2c3e50;
    border-radius: 2px;
    
}

#onText{
    margin-left: 10px;
}
.noteClassSelectors{
    display: flex;
    flex-direction: row;
}

.newNoteSelector{
    color: white;
    background-color: #2c3e50;
    border: none;
    
    height: 50%;
    margin: auto;
    margin-left: 20px;
    margin-right: 10px;
}


.optionSelect{
    color: white;
    background-color: #2c3e50;
    border: 3px white solid;
}

#classSelector{
    width: 75px;
    margin-left: 10px;
}

.noteBody{
    width: 90%;
    margin: auto;
    margin-top: 0px;

    
    text-align: center;
}

#detailsText{
    margin-top: 0px;
}

#noteBodyInput{
    background-color: #4b637b;
    color: white;
    border: none;
    width: 75%;
    height: 35px;
    text-align: center;
}

::placeholder{
    color: #c4c1c1;
}

.btnContainer{
    width: 80px;
    margin: auto;
    margin-top: 5px;
}


.submitBtn{
    background: #2c3e50;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #3498db, #2c3e50);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #3498db, #2c3e50); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border: none;

    width: 80px;
    height: 35px;
    margin: auto;
    border-radius: 5px;
    transition: all 0.5s ease;
}
.submitBtn:hover{
    cursor: pointer;
    background: #4db068;
}