.arrowContainer{
    position: absolute;
    width: 50px;
    height: 50px;
}

#leftArrowContainer{
    top: 50%;
    left: 25px;
}

#rightArrowContainer{
    top: 50%;
    right: 25px;
}

.arrow{
    height: 50px;
    width: 50px;
    transition: all 0.5s ease;
    border-radius: 50%;
}

.arrow:hover{
    cursor: pointer;
    background-color: #3F5EFB;

}

.settingsCardContainer{
    width: 75%;
    height: 275px;
    margin: auto;
    margin-top: 10px;
    overflow: hidden;
}

.settingsCard{
    height: 85%;
    width: 50%;
    margin: auto;


    background: #FC466B;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #3F5EFB, #FC466B);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #3F5EFB, #FC466B); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    border-radius: 5px;

    text-align: center;
}

.settingsButton{
    flex: 1;

    background: #ec008c;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #fc6767, #ec008c);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #fc6767, #ec008c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    margin-top: 25px;

    text-decoration: none;
    text-emphasis: 100;
    border: none;
    height: 50px;
    width: 100px;
    border-radius: 5px;

    transition: all 0.5s ease;
}

.settingsButton:hover{
    cursor: pointer;
    transform: scale(1.1);
}

.settingsHeading{
    margin-top: 5px;
}

.greyed{
    opacity: 25%;
}



@keyframes moveLeftOut {
    0%{
        opacity: 100%;
        transform: translate(0px, 0px);
    }
    100%{
        opacity: 25%;
        transform: translate(-100px, 0px);
    }
}
@keyframes moveLeftIn {
    0%{
        opacity: 0%;
        transform: translate(0px, 0px);
    }
    100%{
        opacity: 100%;
        transform: translate(-100px, 0px);
    }
}

@keyframes moveRightIn{
    0%{
        opacity: 0%;
        transform: translate(100px, 0px);
    }
    100%{
        opacity: 100%;
        transform: translate(0px, 0px);
    }
}

@keyframes moveRightOut{
    0%{
        opacity: 100%;
        transform: translate(100px, 0px);
    }
    100%{
        opacity: 25%;
        transform: translate(0px, 0px);
    }
}