body{
    margin:0px !important;
    background: #1b1c22;
}

.extensionContainer{
    width: 600px;
    height: 400px;
}


@font-face {
    font-family: oxygen-regular;
    src: url(../resources/fonts/Oxygen-Regular.ttf);
}

*{
    font-family: oxygen-regular;
    color: white;
}

.hidden{
    display: none;
}

.headingContainer{
    width: 90%;
    margin: auto;
    text-align: center;
}

.headingContainer h1{
    font-size: 1.7rem;
}
.headingContainer h2{
    font-size: 1rem;
}

.menuBar{
    width: 100%;
    background: #0f0f10;
    height: 45px;
    display: flex;
    flex-direction: row;
}


.menuLinkContainer{
    flex: 0.10;
    background: #3E4C95;
    padding: 0px 25px;
    display: block;
    justify-content: center;
    align-items: center;
}


.menuImg{
    height: 30px;
    width: 30px;
    transition: all 0.25s ease;
    margin: auto;
    margin: 5px 10px;
}


#settingsIcon:hover{
    cursor: pointer;
    transform: rotate(45deg);
}

#homeIcon:hover{
    cursor: pointer;
    transform: scale(1.15);
}


.highlight{
    border-bottom: #743ad5 8px solid;
    border-radius: 4px;
}

.quickDisplay{
    flex: 1;
    text-align: center;
}

.statusText{
    margin-top: auto;
}

.sourceBtn{
    text-decoration: none;
    background: #2c3e50;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #3498db, #2c3e50);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #3498db, #2c3e50); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border: none;
    width: 100px;
    height: 35px;
    border-radius: 5px;
    transition: all 0.25s ease; 
    margin-top: 5px;
}
.sourceBtn:hover{
    cursor: pointer;
    transform: scale(1.1);
}

