
body{
    margin:0px !important;
    background: #1b1c22;
}

.extensionContainer{
    width: 600px;
    height: 400px;
}


@font-face {
    font-family: oxygen-regular;
    src: url(../resources/fonts/Oxygen-Regular.ttf);
}

*{
    font-family: oxygen-regular;
    color: white;
}

.hidden{
    display: none;
}

.headingContainer{
    width: 90%;
    margin: auto;
    text-align: center;
    
}

.headingContainer h1{
    font-size: 1.7rem;
}
.headingContainer h2{
    font-size: 1rem;
}

.menuBar{
    width: 100%;
    background: #0f0f10;
    height: 45px;
    display: flex;
    flex-direction: row;
}


.menuLinkContainer{
    flex: 0.10;
    background: #3E4C95;
    padding: 0px 25px;
    display: block;
    justify-content: center;
    align-items: center;
}


.menuImg{
    height: 30px;
    width: 30px;
    transition: all 0.25s ease;
    margin: auto;
    margin: 5px 10px;
}


#settingsIcon:hover{
    cursor: pointer;
    transform: rotate(45deg);
}

#homeIcon:hover{
    cursor: pointer;
    transform: scale(1.15);
}


.highlight{
    border-bottom: #743ad5 8px solid;
    border-radius: 4px;
}

.quickDisplay{
    flex: 1;
    text-align: center;
    margin-bottom: 15px;
}

.quickDisplay{
    flex: 1;
    text-align: center;
    margin-bottom: 15px;
}

#returnArrow{
    height: 25px;
    width: 25px;
}


